body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #071952;
    border-style: solid;
}

a{
    text-decoration: none;
    margin: 0px;
    border: 0px;
}

.navbar-element{
    display: inline-block;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
    border-style: solid;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
}

.navbar-element:hover{
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}

.page-title-div{
    width: auto;
    height: 500px;
    background-size: cover;
}

.event-page{
    background-image: url("images/ConferenceRoomjpg.jpg");
}

.page-title-div div{ /* For the overlay */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #000000a4;
}

.page-title-div h1{

    font-weight: 500;
    font-size: 6em;
    letter-spacing: 2px;
    color: white;
}

/*Event Page*/

.event-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    
}

.event-1{
    background-color: #f2f2f2;
}

.event-2{
    background-color: white;
}

.event-3{
    background-color: #f2f2f2;
}

.event-title{
    width: 100%;
    padding: 20px 0px 0px 0px;
    color: rgb(0, 0, 0);
    font-size: 1.3em;    
}

.event-section-title{ /* Title for the conference and the hands-on */
    width: 100%;
    color: rgb(0, 0, 0);
    opacity: 1;
    text-align: left;  
}

.event-section-info{
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;
}

/* ----Conference---- */

.conference-div{
    display: flex;
    margin: 0px;
    border: 0px;
    padding: 20px 50px 20px 50px;
    /*background-color: rgba(129, 53, 53, 0.4);*/
}

.conference-info{
    flex: 2;
    margin: 0;
    border: 0;
    padding-right: 80px;
}

.conference-img{
    display: flex;
    flex: 1;
    margin: 0;
    border: 0;
    min-width: 250px;    
}

.conference-img img{
    align-items: center;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

/* ----Hands On---- */

.handson-div{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px;
    border: 0px;
    padding: 20px 50px 20px 50px;
    /* background-color: rgba(53, 129, 90, 0.4); */
}

.handson-info{
    flex: 2;
    margin: 0;
    border: 0;
    padding-left: 80px;
}

.handson-info .event-section-title{
    text-align: right;
    
}

.handson-img{
    flex: 1;
    padding-top: 4%;
    margin: 0;
    border: 0;
    min-width: 250px;    
}

.handson-img img{

    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

/*main section*/
main {
    width: auto;
    height: 750px;
    background-size: cover;
    background-image: url("images/main-image.jpg");
}

main h1, h2 {
    text-align: center;
    font-size: 60px;
    color: #f2f2f2;
    margin: auto;
}

main h1 {
    padding-top: 240px;
}

/*about section*/
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
    gap: 25px;
}

#about h2 {
    color: black;
    text-align: start;
    font-size: 50px;
}

#description{
    font-size: 25px;
}

.about-container {
    margin: 0;
}

#about img{
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}   

@media only screen and (max-width:1400px) {
    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

.img-container {
    width: auto;
    height: auto;
}

/*resumen section*/
.resumen {
    background-color: #071952;
    height: 200px;
    width: 100%;
}

.resumen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding-top: 25px;
}

.resumen h4 {
    color: #f2f2f2;
    font-size: 20px;
}

.resume-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*que veras section*/
#que-veras {
    display: flex;
    flex-direction: column;
    background-color: #373535;
}

#que-veras h2{
    text-align: center;
    padding: 30px;
    color: #f2f2f2;
}

#tarjetas-que-veras {
    display: flex;
    flex-direction: row;
}

.que-veras-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#que-veras img {
    height: 400px;
    width: 300px;
}

#que-veras h3{
    text-align: center;
    color: #f2f2f2;
}

/*hands on section*/
#handson-title h2{
    color: black;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px;
    margin-top: 10px;
    gap: 25px;
}

.img img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.description {
    display: table;
}

.description p {
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}

/*Exponentes section*/
h1 {
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 7px;
}

.underline {
    width: 218px; 
    height: 5px; 
    min-height: 5px;
    border-radius: 20px;
    background: #071952;
    margin: auto;
}

#speakers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
    padding-left: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.speaker-card {
    width: 450px;
    height: 550px;
}

.speaker-img {
    height: 500px;
    width: 100%;
    position: relative;
}

.speaker-img img{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.speaker-text {
    background-color: #071952;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.speaker-text h4 {
    color: #f2f2f2;
    margin: 0;
}

.on-hover-div{
    position:absolute;
    top: 0;
    left: 0;    
    color: white;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(32, 48, 225, 0.5);
    opacity: 0;
    transition: 0.4s;
}

.on-hover-div:hover{
    opacity: 1;
}

.on-hover-div p{
    margin: 0px 20px 0px 20px;
    line-height: 1.5em;
}

.on-hover-div > *{
    transform: translateY(35px);
    transition: 0.6s;
}

.on-hover-div:hover > *{
    transform: translateY(0px);
}



/*footer*/
footer {
    background-color: #071952;
    padding: 30px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.foot-container {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 3px solid #068FFF;
    gap: 10px;
}

.foot-element {
    text-align: center;
    color: #f2f2f2;
}

.foot-element h4 {
    border-bottom: solid 2px #068FFF;
    padding-bottom: 10px;
}

.foot-element p {
    color: #ccc;
}

#copyright h4{
    font-size: 24px;
    text-align: center;
    color: #f2f2f2;
}

#socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*inventando con responsive*/
@media only screen and (max-width:500px) {
    #tarjetas-que-veras{
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resumen-container {
        flex-direction: column;
        align-items: center;
    }
    .resumen{
        height: 100%;
    }
    
  }

#arriba-link {
    background-color: #068FFF;
    min-width: 10px;
    min-height: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
